@import '../../style/variables';

.appRoot {
	overflow: hidden;
}

.pageWrap {
	position: absolute;
	top: @header-height;
	bottom: 0;
	left: 0;
	right: 0;
}

.page {
	@animation-duration: .8s;

	background: @page-bg;
	box-shadow: 7px 10px 19px 5px rgba(0,0,0,0.75);
	box-sizing: border-box;
	padding: 30px 50px;
	overflow-y: auto;
	overflow-x: hidden;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 1px transparent;

	&.pageFlip-enter.pageFlip-enter-active {
		animation: @animation-duration linear page-in;
	}

	&.pageFlip-leave.pageFlip-leave-active {
		animation: @animation-duration linear page-out;
	}

	&.pageFlipInverse-enter.pageFlipInverse-enter-active {
		animation: @animation-duration linear page-in-back;
	}

	&.pageFlipInverse-leave.pageFlipInverse-leave-active {
		animation: @animation-duration linear page-out-back;
	}
}

@keyframes page-in {
	0% {
		transform: perspective(500px) translateZ(-20px) translateX(150%);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	80% {
		transform: perspective(500px) translateZ(-20px) translateX(0);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	100% {
		transform: perspective(500px) translateZ(0) translateX(0);
		border-color: black;
		border-radius: 0;
		background-color: @page-bg;
	}
}

@keyframes page-out {
	0% {
		transform: perspective(500px) translateZ(0) translateX(0);
		border-color: black;
		border-radius: 0;
		background-color: @page-bg;
	}
	20% {
		transform: perspective(500px) translateZ(-20px) translateX(0);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	100% {
		transform: perspective(500px) translateZ(-20px) translateX(-150%);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
}

@keyframes page-in-back {
	0% {
		transform: perspective(500px) translateZ(-20px) translateX(-150%);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	80% {
		transform: perspective(500px) translateZ(-20px) translateX(0);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	100% {
		transform: perspective(500px) translateZ(0) translateX(0);
		border-color: black;
		border-radius: 0;
		background-color: @page-bg;
	}
}

@keyframes page-out-back {
	0% {
		transform: perspective(500px) translateZ(0) translateX(0);
		border-color: black;
		border-radius: 0;
		background-color: @page-bg;
	}
	20% {
		transform: perspective(500px) translateZ(-20px) translateX(0);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
	100% {
		transform: perspective(500px) translateZ(-20px) translateX(150%);
		border-radius: 50px;
		background-color: @page-bg-transition;
	}
}
